.logo{
    background: red;
}


span.label.RUNNING{
    background-color: #62d268;
    color: #fff;
}

span.label.ERROR{
    background: #f44336;
    color: #fff;
}

span.label.IDLE{
    background: #9e9e9e42;
    color: #9e9e9e;
}