span.label.RUNNING{
    background-color: #62d268;
    color: #fff;
}

span.label.ERROR{
    background: #f44336;
    color: #fff;
}

span.label.IDLE{
    background: #9e9e9e42;
    color: #9e9e9e;
}

span.label.WARNING{
    background: #ee9536;
    color: #fff;
}

.ui.mini.button, .ui.mini.buttons .button, .ui.mini.buttons .or {
    padding: 5px !important;
}
.ui.label, .ui.labels .label{
    padding: 5px !important;
}
.ui.floating.label {
    position: absolute;
    z-index: 100;
    top: -1.1em;
    left: 107%;
    margin: 0 0 0 -1.5em !important;
    font-size: .6rem;
    padding: .2rem !important;
}

.button{
    position: relative;
}

.logs{
    font-family: monospace;
}